* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: black;
    color: whitesmoke;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px 30px 15px;
    font-size: 14px;
}

.Logo-Site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Logo-Site img {
    width: 24px;
}

.Logo-Site h2 {
    font-size: 20px;
}

header p:hover{
    text-decoration: underline;
    text-decoration-color: red;
    transition: left 0.5s; 
}

header img:hover {
    box-shadow: 1px 1px 15px 1px red;
    transition: 0.5s;
}

#Home {
    background-color: black;
    color: whitesmoke;
    
    width: 100vw;
    height: 100vh;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apresentacao {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 21px;
}

.apresentacao h1 {
    padding-bottom: 25px;
    font-size: 30px;
}

button {
    width: 6rem;
    height: 3rem;
    background-color: black;
    color: white;
    border-color: whitesmoke;
    font-size: 14px;
    border-radius: 15px;
}

button:hover {
    background-color: rgba(255, 0, 0, 0.771);
    transition: 0.6s ease-in-out;
}

h2 img {
    height: 22px;
    margin-left: 14px;
}

#tituloShowroom {
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
    text-decoration: underline red;
    font-style: italic;
    font-family: sans-serif;
    font-weight: 800;
}

#Showroom h2 {
    margin-bottom: 50px;
}



.Italia-Fileira1,
.Italia-Fileira2,
.Alemanha-Fileira1,
.Alemanha-Fileira2,
.Inglaterra-Fileira1,
.Inglaterra-Fileira2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.Ferrari-Roma-Card,
.Lamborghini-Urus-Card,
.Ferrari-296-GTB-Card,
.Lamborghini-Huracan-STO-Card,
.BMW-X6-Card,
.Porsche-Cayman-GTS-Card,
.Porsche-911-Card,
.Audi-RS6-Card,
.DBX707-Card,
.M765LT-Card,
.Artura-Card,
.Rolls-Royce-Cullinan-Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 43vw;
    height: 40vh;
    margin-bottom: 100px;
}

.Ferrari-Roma-Card img,
.Lamborghini-Urus-Card img,
.Ferrari-296-GTB-Card img,
.Lamborghini-Huracan-STO-Card img,
.BMW-X6-Card img,
.Porsche-911-Card img,
.Porsche-Cayman-GTS-Card img,
.Audi-RS6-Card img,
.DBX707-Card img,
.M765LT-Card img,
.Artura-Card img,
.Rolls-Royce-Cullinan-Card img {
    width: 70%;
    /* border-radius: 18px; */
}

.Roma-Container,
.Urus-Container,
.F296GTB-Container,
.Huracan-Container,
.X6-Container,
.Cayman-Container,
.Porsche-911-Container,
.Audi-Container,
.DBX707-Container,
.M765-Container,
.Artura-Container,
.Cullinan-Container {
    padding: 14px;
    width: 100%;
}

.Roma-Container h4,
.Urus-Container h4,
.F296GTB-Container h4,
.Huracan-Container h4,
.X6-Container h4,
.Cayman-Container h4,
.Porsche-911-Container h4,
.Audi-Container h4,
.DBX707-Container h4,
.M765-Container h4,
.Artura-Container h4,
.Cullinan-Container h4 {
    font-size: 20px;
} 

.Roma-Container img,
.Urus-Container img,
.F296GTB-Container img,
.Huracan-Container img,
.X6-Container img,
.Cayman-Container img,
.Porsche-911-Container img,
.Audi-Container img,
.DBX707-Container img,
.M765LT-Container img,
.Artura-Container img,
.Cullinan-Container img{
    width: 24px;
    margin-right: 6px;
}

.Roma-Info,
.Urus-Info,
.F296-Info,
.Huracan-Info,
.X6-Info,
.Cayman-Info,
.P911TS-Info,
.Audi-Info,
.DBX-Info,
.M765LT-Info,
.Artura-Info,
.Cullinan-Info {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    width: 100%;
    font-size: 13px;
}

.fotoprincipal {
    border-radius: 18px;
}

.preco {
    text-align: center;
}




